* {
    box-sizing: border-box;
}
body {
    background-color: #93DA97;
}
.main {
    background: transparent;
    height: 17.5vw;
    width: 27vw;
    min-height: 300px;
    min-width: 300px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
.box {
    color: #E8FFD7;
    background-color: #3E5F44;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 2rem;
    width: 7vw;
    height: 7vw;
    min-height: 75px;
    min-width: 75px;
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
}
.box:active {
    transform: scale(0.9);
}

.gameover {
    height: 285px;
    width: 255px;
    background: #5E936C;
    color:#E8FFD7;
    font-size: 25px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0.9;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}
#rematch {
    background-color: #3E5F44;
    color: #E8FFD7;
    font-family: 'Courier New', Courier, monospace;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 8px;
    opacity: 1;
    font-weight: 700;
    transition: transform 0.07s ease-in-out;
}
#rematch:active {
    transform: scale(0.9);
}